
node_modules/
**/node_modules/
.env
.env.*

.env
.env.*
**/__pycache__/
**/*.pyc
backend/uploads/
node_modules/
**/node_modules/
mobile/.expo/
.expo/
backend/.venv/
mobile/assets/images/playstore-icon-512.png
ops/prometheus/secrets/*
!ops/prometheus/secrets/.gitkeep
